<section class="s-sm">
    <div class="max-w-screen-xl mx-auto space-y-10">
        <div class="label-section">Photos</div>
        <div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3">
        {% for item in item.images %}
            <a class="block bg-gray-50 micro-float" href="{{ item.image }}" download>
                <div class="aspect-w-16 aspect-h-16 overflow-hidden">
                    {% capture "imageAlt" %}Ed Latimore press photo {{ forloop.index }}{% endcapture %}
                    {% image item.image, imageAlt, "object-contain object-center p-10 h-full w-full", "(min-width: 768px) 294px, 100vw" %}
                </div>
                <div class="block bg-gray-light cd-xs text-center label transition-default text-coral group-hover:text-maroon">Click to download</div>
            </a>
        {% endfor %}
        </div>
    </div>
</section>