<section class="s-sm{% if item.class %} {{ item.class }}{% endif %}">
    <div class="max-w-xl mx-auto">
        <h2>{{ item.title | default:"Contact form submission" }}</h2>
        <form id="contactForm" class="font-sans flex flex-col space-y-5" method="post" action="/form-success.html">
            <div class="flex flex-col space-y-2">
                <label for="formName">Full Name (*)</label>
                <input class="input" id="formName" name="full_name" placeholder="Your full name" required="" type="text">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="formEmail">Email Address (*)</label>
                <input class="input" id="formEmail" name="email" placeholder="Your email address" required="" type="email">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="formPhone">Phone Number (optional, only for U.S. inquirers)</label>
                <input class="input" id="formPhone" name="phone_number" placeholder="Your phone number (optional, U.S. only)" type="tel">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="formMessage">Message (Please provide pertinent details)</label>
                <textarea class="input" id="formMessage" rows="6" name="message" placeholder="Your message" required=""></textarea>
            </div>
            <input type="hidden" name="_subject" value="{{ item.title | default:'Contact form submission' }}">
            <input type="hidden" name="_to" value="ed@edlatimore.com">
            <input type="text" name="_gotcha" style="display: none;">
            <div class="g-recaptcha" data-sitekey="6LcPy_0UAAAAAMrP77bLb3RkyhLTZWN7vt-ZJ36o"></div>
            <input type="submit" value="Submit" class="btn py-3 text-base md:text-md">
            <div id="success-message" class="hidden bg-green-200 p-3 border-green-300 border-b-8">Sent! I will get back to you asap (usually within a week).</div>
        </form>
    </div>
</section>