{% comment %} Article sorting {% endcomment %}
{% assign recentPosts = collections.posts %}

<section class="s-sm">
    <div class="max-w-screen-xl mx-auto space-y-10">
        <div class="label-section flex justify-between">
            <div>Recent posts</div>
            <a class="text-coral hover:text-maroon" href="/archive/">Browse the archive &rarr;</a>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5">
        {% for item in recentPosts limit:3 %}
            {% include "_partials/card" %}
        {% endfor %}
        </div>
    </div>
</section>