{% comment %} Product sorting {% endcomment %}
{% assign recentProducts = collections.products | reverse %}

<section class="s-sm bg-gray">
    <div class="max-w-screen-xl mx-auto space-y-10">
        <div class="label-section border-gray-dark border-opacity-25 flex justify-between">
            <div>Popular products</div>
            <a class="text-coral hover:text-maroon" href="/products/">View more products &rarr;</a>
        </div>
        <div class="grid sm:grid-cols-2 gap-5">
        {% for item in recentProducts limit:3 %}
            {% include "_partials/card" type:"product" %}
        {% endfor %}
        </div>
    </div>
</section>