<section class="s-sm">
    <div class="max-w-screen-xl mx-auto space-y-10">
        <div class="label text-center">Featured in</div>
        <div class="grid grid-cols-5 gap-5">
        {% for item in featured_logos.logos limit:5 %}
            <div class="cursor-pointer relative self-center group text-center">
                <img
                    src="{{ item.image }}"
                    class="max-h-16 w-auto inline-block"
                    alt="{{ item.title }}">
                <div class="tooltip hidden absolute bg-white filter drop-shadow  mt-4 p-2 z-50 text-xs md:text-sm group-hover:block">
                    {{ item.tooltip|markdownify }}
                    <span class="tooltip-arrow"></span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>