<footer class="bg-gray font-sans text-sm lg:text-base">
  <section class="s-sm">
    <div class="max-w-screen-xl mx-auto flex flex-col space-y-8 items-start justify-between lg:flex-row lg:space-y-0">
        <div class="space-y-4 md:max-w-xs mx-auto ml-0">
          <a href="/" aria-label="Home page" class="inline-block text-coral hover:text-maroon focus:text-maroon">{% include icons/logo.svg class="h-8 md:h-10 w-auto" %}</a>
          <div>{{settings.site.description|markdownify}}</div>
        </div>
        <nav class="flex flex-wrap gap-8 md:gap-12 md:justify-start" aria-label="Footer">
          {% for group in footerNavGroups %}
            <div class="flex flex-col space-y-4">
              <div class="label text-gray-900">{{ group | capitalize }}</div>
              {% assign footerNavCurrent = footerNav|where_exp:"item","item.group contains group" %}
              {% for item in footerNavCurrent %}
              <a href="{{item.url}}" class="inline-block text-maroon hover:text-coral focus:outline-none focus:text-coral">{{item.name}}</a>
              {% endfor %}
            </div>
          {% endfor %}
        </nav>
    </div>
  </section>
  <section class="s-xs py-0 mt-6 text-xs">
    <div class="max-w-screen-xl mx-auto flex flex-col space-y-2 text-center md:text-left md:space-y-0 md:flex-row md:justify-between border-t border-gray-dark border-opacity-25 s-xs !px-0">
      <div>© {{ "now"|date:"%Y" }}, {{ site.data.global_settings.site.title }}. All rights reserved.</div>
      <nav class="flex divide-x divide-gray-dark divide-opacity-25 justify-center md:text-right md:justify-end" aria-label="Subfooter">
        {% for item in subfooterNav %}
          <a href="{{item.url}}" class="flex-none px-5 first:pl-0 last:pr-0 text-maroon hover:text-coral focus:outline-none focus:text-coral">{{item.name}}</a>
        {% endfor %}
      </nav>
    </div>
  </section>
</footer>