<header class="z-20 bg-white border-b border-gray-light font-sans s-xxs fixed top-0 w-full">
  <div class="mx-auto max-w-screen-xl flex justify-between">
    <div class="flex items-start gap-12">
      <a href="/" aria-label="Home page">{% include_cached icons/logo.svg class="h-8 lg:h-9 w-auto" %}</a>
      <div class="space-y-1 hidden lg:block">
        <a class="block my-0 leading-tight label text-coral hover:text-maroon" href="/{{ page.tags | first }}/">{{ page.tags | first | replace:"-"," " }}</a>
        <div class="font-bold leading-tight text-lg my-0">{{ page.title | smartify }}</div>
      </div>
    </div>
    <div class="flex items-center divide-x divide-gray-light">
      <div class="items-center gap-6 pr-12 hidden lg:flex">
        <div class="leading-tight text-lg text-gray">Share:</div>
        <a class="block text-coral hover:text-maroon" href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" aria-label="Share on Facebook">{% include icons/social-facebook.svg class="w-6 h-6" %}</a>
        <a class="block text-coral hover:text-maroon" href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" aria-label="Share on LinkedIn" >{% include icons/social-linkedin.svg class="w-6 h-6" %}</a>
        <a class="block text-coral hover:text-maroon" href="https://twitter.com/intent/tweet?text={{ page.title | smartify }}+{{ page.url | absolute_url }}" aria-label="Share on Twitter">{% include icons/social-twitter.svg class="w-6 h-6" %}</a>
      </div>
      <div class="pl-6 lg:pl-12">
        <a href="/newsletter?ref=articlenav" class="text-lg uppercase text-coral hover:text-maroon">Subscribe</a>
      </div>
    </div>
  </div>
</header>