{% case include.type %}
  {% when "product" %}
  <a class="text-lg lg:text-xl bg-white shadow flex flex-col micro-float" href="{{ item.url }}">
    <div class="bg-gray-light w-full aspect-w-16 aspect-h-10">
      {% responsive_image_block %}
        path: {{ item.image | remove_first:"/" }}
        alt: {{ item.title | replace:":","—" }}
        class: "object-contain h-full"
        sizes: "(min-width: 1024px) 45vw, (min-width: 640px) 45vw, 96vw"
      {% endresponsive_image_block %}
    </div>
    <div class="px-4 py-3 lg:px-9 lg:py-6 mb-4 flex-grow">
      <h4 class="my-4">
        <div class="text-gray">{{ item.type | append:": " }}</div>
        {{ item.title | smartify }}
      </h4>
    </div>
    <div class="px-4 lg:px-9 label text-gray-dark text-opacity-50">
      <div class="py-3 lg:py-6 border-t-2 border-gray-light border-opacity-50 flex justify-between">
        <div>{{ item.product_info.price }}</div>
        <div>Learn more &rarr;</div>
      </div>
    </div>
  </a>
  {% else %}
  <a class="text-lg lg:text-xl bg-white shadow flex flex-col micro-float" href="{{item.url}}">
    <div class="bg-gray-light w-full aspect-w-16 aspect-h-10">
      {% responsive_image_block %}
        path: {{ item.image | remove_first:"/" }}
        alt: {{ item.title | replace:":","—" }}
        class: "object-cover h-full"
        sizes: "(min-width: 1024px) 410px, (min-width: 640px) 45vw, 96vw"
      {% endresponsive_image_block %}
    </div>
    <div class="px-4 py-3 lg:px-9 lg:py-6 flex-grow">
      <h4 class="my-4">{{ item.title | smartify }}</h4>
      <p>{{ item.description | smartify }}</p>
    </div>
    {% unless include.type == "minimal" %}
    <div class="px-4 lg:px-9 label text-gray-dark text-opacity-50">
      <div class="py-3 lg:py-6 border-t-2 border-gray-light border-opacity-50">
        <div>{{ item.tags[0] | replace:"-"," " | capitalize }}</div>
        <div>{{ item.date | date: "%b %d, %Y" }}</div>
      </div>
    </div>
    {% endunless %}
  </a>
{% endcase %}