{%- capture "data-sv-form" -%}
{%- case page.name -%}
  {%- when "index.md" -%}
  1383731
  {%- when "newsletter.md" -%}
  1426441
  {%- else -%}
  1044621
{%- endcase -%}
{%- endcapture -%}
{%- capture "data-uid" -%}
{%- case page.name -%}
  {%- when "index.md" -%}
  da32dc22de
  {%- when "newsletter.md" -%}
  1de35d4d5a
  {%- else -%}
  a4b4329705
{%- endcase -%}
{%- endcapture -%}

<form
  action="https://app.convertkit.com/forms/{{ data-sv-form }}/subscriptions"
  class="font-sans seva-form formkit-form"
  method="post"
  data-sv-form="{{ data-sv-form }}"
  data-uid="{{ data-uid }}"
  data-format="inline"
  data-version="6"
  data-options="
    {'settings':{
      'after_subscribe':{
        'action':'message',
        'success_message':'Success! Now check your email to confirm your subscription.',
        'redirect_url':''
      },
      'analytics':{
        'google':null,
        'facebook':null,
        'segment':null,
        'pinterest':null,
        'sparkloop':null,
        'googletagmanager':null
      },
      'modal':{
        'trigger':'timer',
        'scroll_percentage':null,
        'timer':5,
        'devices':'all',
        'show_once_every':15
      },
      'powered_by':{
        'show':true,
        'url':'https://convertkit.com/?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic'},
        'recaptcha':{
          'enabled':false
        },
        'return_visitor':{
          'action':'show',
          'custom_content':''
        },
        'slide_in':{
          'display_in':'bottom_right',
          'trigger':'timer',
          'scroll_percentage':null,
          'timer':5,
          'devices':'all',
          'show_once_every':15
        },
        'sticky_bar':{
          'display_in':'top',
          'trigger':'timer',
          'scroll_percentage':null,
          'timer':5,
          'devices':'all',
          'show_once_every':15
        }
      },
      'version':'6'
    }"
  min-width="400 500 600 700 800">
  <div data-style="clean" class="space-y-4">
    <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
    <div data-element="fields" data-stacked="false" class="bg-white shadow p-4 flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4 seva-fields formkit-fields">
      <div class="flex-grow formkit-field">
        <input class="p-4 lg:py-6 w-full border-0 text-lg md:text-xl formkit-input fbc-has-badge fbc-UID_2" name="email_address" aria-label="Your email address" placeholder="Your email address" required="" type="email">
      </div>
      <button data-element="submit" class="btn btn-coral lg:py-6 formkit-submit formkit-submit">
        <div class="formkit-spinner">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span class="">Subscribe</span>
      </button>
    </div>
    <p class="text-sm md:text-base">{{ include.small_text | default: "Yes! I want a weekly dose of self-improvement content from Ed." }}</p>
  </div>
</form>
<script src="https://f.convertkit.com/ckjs/ck.6.js"></script>